{% extends 'base.html.twig' %}


{% block title %}
{{ burger.name }}
{% endblock %}

{% block content %}
    <div class="animate-spin inline-block">
        <a class="text-6xl" href={{ path('burgers') }}>👈</a>
        <div class="rounded-full w-10 h-10 bg-gradient-to-r from-blue-500 to-green-400 hover:animate-spin
"></div>
    </div>
<div>
    <h1>{{ burger.name }}</h1>
    <p>{{ burger.description }}</p>
    <p class="text-4xl text-amber-600">{{ burger.price }}</p>
</div>
{% endblock %}